n8n-workflow-export.json
{
  "name": "Lovable Lead Capture Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lovable-leads",
        "responseMode": "onReceived",
        "responseCode": 200,
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "lovable-leads-webhook"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "firstName",
              "value": "={{$json['name']}}"
            },
            {
              "name": "email",
              "value": "={{$json['email']}}"
            },
            {
              "name": "phone",
              "value": "={{$json['phone']}}"
            },
            {
              "name": "company",
              "value": "={{$json['company']}}"
            },
            {
              "name": "interest",
              "value": "={{$json['interest']}}"
            },
            {
              "name": "message",
              "value": "={{$json['message']}}"
            },
            {
              "name": "source",
              "value": "={{$json['source']}}"
            },
            {
              "name": "timestamp",
              "value": "={{$json['timestamp']}}"
            },
            {
              "name": "page_url",
              "value": "={{$json['page_url']}}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-node",
      "name": "Process Lead Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "https://rest.gohighlevel.com/v1/contacts/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_GHL_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "firstName",
              "value": "={{$json['firstName']}}"
            },
            {
              "name": "email",
              "value": "={{$json['email']}}"
            },
            {
              "name": "phone",
              "value": "={{$json['phone']}}"
            },
            {
              "name": "company",
              "value": "={{$json['company']}}"
            },
            {
              "name": "locationId",
              "value": "YOUR_LOCATION_ID"
            },
            {
              "name": "source",
              "value": "={{$json['source']}}"
            },
            {
              "name": "tags",
              "value": "Lovable Lead, Website"
            },
            {
              "name": "customField",
              "value": "interest: {{$json['interest']}}, message: {{$json['message']}}"
            }
          ]
        },
        "options": {}
      },
      "id": "http-request-node",
      "name": "Create GHL Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{$json['statusCode']}}",
              "rightValue": 400,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-node",
      "name": "Check for Errors",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "url": "https://hooks.slack.com/services/YOUR_SLACK_WEBHOOK",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "❌ Lead capture failed for {{$json['firstName']}} ({{$json['email']}}). Error: {{$json['message']}}"
            }
          ]
        },
        "options": {}
      },
      "id": "slack-error-node",
      "name": "Send Error Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "url": "https://hooks.slack.com/services/YOUR_SLACK_WEBHOOK",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "✅ New lead captured: {{$json['firstName']}} ({{$json['email']}}) from Lovable landing page"
            }
          ]
        },
        "options": {}
      },
      "id": "slack-success-node",
      "name": "Send Success Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Process Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Lead Data": {
      "main": [
        [
          {
            "node": "Create GHL Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create GHL Contact": {
      "main": [
        [
          {
            "node": "Check for Errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Errors": {
      "main": [
        [
          {
            "node": "Send Error Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Success Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "lovable-lead-capture",
  "tags": [
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "1",
      "name": "lead-capture"
    }
  ]
} 